
.navbar
	.container

		.navbar-header
			.navbar-brand 
				a(href="/") sgdy

		form.navbar-form.pull-left
			.form-group
				input.form-control(type="text",placeholder="search")
			button.btn.btn-default(type="submit") search

		ul.nav.pull-right
			li
				a.btn.btn-link(href="/admin/book/list") admin
		